{% extends 'base.html' %}
{% block content %}
  <div>


        <div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <p>{{ g.user.username }}</p>
          </a>
        </div>



    <div>
      CREATED BOARDS:
    </div>

    <div >
      <ul class="list-group" id="messages">
        {% for board in boards %}
          <li class="list-group-item">
            <a href="/user/{{ g.user.id}}/board/{{board.id}}">{{board.name}}</a>
          </li>

          <form method="POST"
          action="/user/{{user_id}}/board/{{board_id}}/delete">
          <button class="btn btn-outline-danger">Delete this board</button>
          </form>
        {% endfor %}
      </ul>
    </div>


    <div>
      <form method="GET" action="/user/{{ g.user.id}}/board/new" id="messages-form">
        <button class="
          btn 
          btn-sm 
          "
        >CREATE A NEW BOARD <!-- Consider adding a plus symbol here-->
        </button>
      </form>
    </div>

  </div>
{% endblock %}
