{% extends 'base.html' %}

{% block content %}

  <div class="bg"></div>
  <div class="row justify-content-center">
    <div class="col-md-9">
      <ul class="list-group no-hover" id="messages">
        <li class="list-group-item">


                    
          <div class="message-area">
            <div class="message-heading">

              <div>
                CREATED LISTS:
              </div>

              <ul class="list-group" id="messages">
              {% for list in lists %}
              <div>
                <li >
                  <a href="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}">{{list.name}}</a>

                  <form method="POST"
                        action="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}/delete">
                    <button class="btn btn-outline-danger">Delete List</button>
                  </form>
                </li>

                <ul class="card-group" id="card-group">
                  {% for card in cards %}

                  {% if card.is_part_of_list( list) %}
                  
                  <div>
                    <a href="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}/card/{{card.id}}">{{card.name}}</a>
                    <a>{{card.content}}</a>
                    <a>{{card.date}}</a>
                    <!--{% if card.date == "" %}-->
                    
                    <!--{% endif %}-->
                    <form method="POST"
                          action="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}/card/{{card.id}}/create_event">
                      <button class="btn btn-outline">Create event</button>
                    </form>

                    <form method="POST"
                          action="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}/card/{{card.id}}/delete">
                      <button class="btn btn-outline-danger">Delete</button>
                    </form>
                    <br>
                  </div>
                  {% endif %}

                  {% endfor %}
                  
                </ul>
                <form method="POST"
                  action="/user/{{user_id}}/board/{{board_id}}/list/{{list.id}}/card/new">
                  <button class="btn btn-outline-danger">Create new card</button>
                </form>
              </div>
              {% endfor %}
              </ul>

            </div>

          </div>
        </li>
      </ul>
    </div>
    
    <form method="POST"
      action="/user/{{user_id}}/board/{{board_id}}/list/new">
      <button class="btn btn-outline-danger">Create new list</button>
    </form>


  </div>


  
  <script>
    $(function() {
    $(".list-group, .card-group").sortable({
      delay: 150
    })
    
    
  });
  </script>


 <!--
<script>
  $(function() {
  $(".card-group").sortable({
    delay: 150
  })
});
</script>
-->

<!--
<script>
  $(function() {
  $("#card-group").sortable({
    delay: 150
  })
});
</script>
 -->
{% endblock %}